.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnWhite {
  background-color: white;
  color: black;
  text-transform: uppercase;
  height: 50px;
}

.btnAnimated {
  animation-fill-mode: backwards;
}
