.form {
  display: none;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  margin: 20px auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 40px);
}

.formActive {
  display: flex;
}

.label {
  display: flex;
  flex-direction: column;
}

.label * {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttonCancel,
.buttonSave {
  flex-grow: 1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  color: white;
}

.buttonCancel {
  background-color: #ad5454;
}

.buttonSave {
  background-color: #3d7e3b;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.error {
  background-color: rgba(243, 91, 91, 0.397);
  border-color: red;
}

.errorMessage {
  color: red;
  text-align: center;
  border: none;
  padding: 0;
  font-style: italic;
  font-size: 12px;
}
