.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: auto;
}

.select {
  cursor: pointer;
  background-color: white;
  color: black;
  text-transform: uppercase;
  height: 50px;
  box-shadow: var(--shadow);
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  border: none;
}

.select:hover {
  box-shadow: var(--hover-shadow);
  border: none;
}

.select:active {
  box-shadow: var(--active-shadow);
  border: none;
}
