.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catList {
  overflow: auto;
}

.refresh,
.createBtn {
  margin: 20px auto;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.controls {
  display: flex;
  padding: 0 50px;
  flex-wrap: wrap;
}

.pagination ul {
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 16px;
}

.formActive {
  display: flex !important;
  z-index: 2;
}

.createBtn svg {
  width: 20px;
  height: 20px;
}

.checkboxHeart {
  width: 20px;
  height: 20px;
}

.checkbox input {
  display: none;
}

.checkbox {
  cursor: pointer;
  background-color: white;
  color: black;
  text-transform: uppercase;
  height: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.checkbox:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.checkbox:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.checked {
  fill: red;
  fill-rule: nonzero !important;
}
